{% include 'header.twig' %}



<div class="content">
            <h4 style="color:#fff;">Panel Verilerin</h4>
  <div class="row">
          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-credit-card text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Harcanan Tutar</p>
                      <p class="card-title">{{ user['spent'] }}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i> Toplam Harcanan Tutar
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Mevcut Bakiye</p>
                      <p class="card-title">{{ user['balance'] }}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Hesabındaki Toplam Bakiye
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Toplam Şipariş</p>
                      <p class="card-title"><iframe src="ziyaretci.txt" name="I1"></iframe> 
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Vermiş Olduğun Siparişler
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Toplam Şipariş</p>
                      <p class="card-title">{% for order in orders %}<tr><td>{{ order['id'] }}</td></tr>{% endfor %}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Vermiş Olduğun Siparişler
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Toplam Şipariş</p>
                      <p class="card-title">{% for order in orders %}<tr><td>{{ order['id'] }}</td></tr>{% endfor %}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Vermiş Olduğun Siparişler
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Toplam Şipariş</p>
                      <p class="card-title">{% for order in orders %}<tr><td>{{ order['id'] }}</td></tr>{% endfor %}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Vermiş Olduğun Siparişler
                </div>
              </div>
            </div>
          </div>
        
     
     
     

{% include 'footer.twig' %}