
<footer>
	<div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>All Rights Reserved {{ site["site_name"] }} ©</p>
        </div>
        <div class="col-sm-4">
          <div class="ftr-payment-logo">
            <img class="img-responsive" src="https://i.imgur.com/SmSotJy.png">
          </div> 
        </div>
        <div class="col-sm-4">
          <ul>
            <li><a href="" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
	</div>
</footer>

 <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/jquery.min.js">
      </script>
 <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/ajax.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/1.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/2.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/3.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/4.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/5.js">
      </script>
  <script type="text/javascript" src="{{ site["url"] }}/public/modern/js/6.js">
      </script>
  <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=en">
      </script>
  <script type="text/javascript" >
     window.modules.layouts = {"auth":0};   </script>
  <script type="text/javascript" >
     window.modules.signup = [];   </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <script>
  	$('.targetSlider, .reviewSlider').slick({
      dots: true,
      arrows: false,
      speed: 500,
      slidesToShow: 1,
      slidesToScroll: 1,
  	  adaptiveHeight: true
    });
  </script>

  {{ footerCode }}

</body>
</html>
