{% include 'header.twig' %}

<div id="page-wrapper">
  <div class="container">
    <div class="inner-dashboard"> 
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      {% if errorText %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ errorText }}
        </div>
      {% endif %}
      {% if successText %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ successText }}
        </div>
      {% endif %}

      <div class="well">
        <form method="post" action="">

          <div class="form-group">
            <label for="username" class="control-label">{{ lang['resetpassword.user'] }}</label>
            <input type="text" class="form-control" name="user" value="{{ data['user'] }}" placeholder="{{ lang['resetpassword.user.placeholder'] }}">
          </div>
          {% if captcha %}
            <div class="form-group">
              <div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
            </div>
          {% endif %}

            <button type="submit" class="btn btn-primary click">{{ lang['resetpassword.button'] }}</button>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
</div>


{% include 'footer.twig' %}
