{% include 'header.twig' %}
<style>
    .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: #2780e3;
    border-radius: 10px;
}
</style>

<div class="container">
  
    <div class="inner-dashboard servicePage">
        {% if site['service_speed'] == 2 %}
          <div class="top justify-content-center text-center">
            <span class="list">
              <span class="">
              <span style="color: #f24236;font-weight: 500; font-size:10px;" class="fa fa-arrow-down"></span>
              <span style="color: #f24236;font-weight: 500; font-size:10px;">: {{ lang['services.speed.veryslow'] }}</span></span>
              <span class="ml-4x">
              <span style="color: #fe6d86;font-weight: 500; font-size:10px;" class="fa fa-arrow-down"></span>
              <span style="color: #fe6d86;font-weight: 500; font-size:10px;">: {{ lang['services.speed.slow'] }}</span></span>
              <span class="ml-4x">
              <span style="color: #5696c9;font-weight: 500; font-size:10px;" class="fa fa-compress"></span>
              <span style="color: #5696c9;font-weight: 500; font-size:10px;">: {{ lang['services.speed.normal'] }}</span></span>
              <span class="ml-4x">
              <span style="color: #0dd887;font-weight: 500; font-size:10px;" class="fa fa-arrow-up"></span>
              <span style="color: #0dd887;font-weight: 500; font-size:10px;">: {{ lang['services.speed.fast'] }}</span></span>
            </span>
          </div>
        {% endif %}
        

              {% for category in serviceCategory %}

                <div class="row" id="">
                  <div class="col-sm-12">
                    <div class="well wellHeader serCatHead" id="">
                      <h2><i class="fa fa-{{ category["category_icon"] }}"></i>{{ category["category_name"] }}</h2>
                    </div>
                  </div>
                </div>
                
            <div class="row">
            <div class="col-sm-12">
               <div class="well">
                <div class="table-responsive">
                <table class="serviceTable table table-striped table-sm ">
                  <thead class="thead-dark">
                  <tr>
                    <th class="nowrap" data-column="column1"><i class="material-icons">format_list_numbered</i>ID</th>
                    <th class="width-service-name" data-column="column2"><i class="material-icons">storage</i>Service</th>
                    <th class="nowrap"><i class="material-icons">bar_chart</i>Rate per 1000</th>
                    <th class="nowrap" data-column="column3"><i class="material-icons">call_received</i>Min order</th>
                    <th class="nowrap" data-column="column4"><i class="material-icons">call_made</i>Max order</th>
                    <th class="nowrap" data-column="column5"><i class="material-icons">format_align_left</i>Description</th>
                  </tr>
                  </thead>
                
                  <tbody>
                {% for service in category['services'] %}
                
                  <tr>
                    <td data-th="ID" data-column="column1">{{ service["service_id"] }}</td>
                    <td data-th="Service" data-column="column2">{{ service["service_name"] }}</td>
                    <td>{{ service["service_price"] }}</td>
                    <td data-th="Min" data-column="column3"><span class="badge" style="background:#e9a9f8;">{{ service["service_min"] }}</span></td>
                    <td data-th="Max" data-column="column4"><span class="badge" style="background:#632ce2;">{{ service["service_max"] }}</span></td>
                    <td data-th="Description" data-column="column5">
                    <button type="button" class="btn-alternate" data-toggle="modal" data-target="#{{ service["service_id"] }}"><i class="material-icons">notes</i></button>
                    
                    <div class="modal fade" id="{{ service["service_id"] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div style="white-space: normal;" class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <h5 class="modal-title" id="exampleModalLabel">{{ service["service_name"] }}</h5>
                            
                          </div>
                          <div style="white-space: normal;" class="modal-body">
                            {{ service["service_description"] }}
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    </td>
                    
                  </tr>
                {% endfor %}
                
                 </tbody>
                </table>
                </div>
              </div>
            </div>
            </div>

              {% endfor %}

         
      </div>
    </div>
</div>

  </div>
</div>

{% include 'footer.twig' %}
